<div class="container" [style.min-height.px]="screenHeight">
  <div class="row">
    <div class="col-12 mt-5">
      <app-timer [aboutSection]="aboutSection" (showHideTaskSection)="showHideTaskSection($event)"></app-timer>
    </div>
  </div>
  <div class="row" [hidden]="!taskSectionIsVisible">
    <div class="col-12">
      <hr>
      <app-task-list></app-task-list>
    </div>
  </div>
  <div class="row mt-5 task-list" [hidden]="!taskSectionIsVisible">
    <div class="col-12">
      <app-task-manager></app-task-manager>
    </div>
  </div>
</div>

<div class="container-fluid" id="about-section" #aboutSection>
  <hr>
  <div class="row">
    <div class="col-8 mx-auto">
      <h4>What is it?</h4>
      <p>25minutes is a simple yet very powerful time tracking tool.
        It is based on <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique" target="_blank" class="link">The Pomodoro Technique</a>.
        The idea is simple - you work for the given time (25 or 45 or any other time that fits you) then you take a break and after the break you start again to work.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-8 mx-auto">
      <h4>How to use it?</h4>
      <p>By default, work time is 25 minutes and the break is 5 minutes. In settings, you can change it. After each session (work and break session) there is a notification.
      The next session starts automatically but you can pause it or restart.</p>
    </div>
  </div>
</div>


<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-12 mx-auto">
      <p>
        Built with <a href="https://angular.io/" target="_blank" class="link">Angular 8</a>
        and
        <a href="https://getbootstrap.com/" class="link">Bootstrap 4.4</a>,
        source is on <a href="https://github.com/robertsv/25minutes" target="_blank" class="link">GitHub</a>.
        Found an issue? Report it <a href="https://github.com/robertsv/25minutes/issues" target="_blank" class="link">here</a>!
        Sound effects obtained from <a href="https://www.zapsplat.com" target="_blank" class="link">https://www.zapsplat.com</a>
        Favicon from <a href="https://www.favicon-generator.org" target="_blank" class="link">https://www.favicon-generator.org</a>
      </p>
    </div>
  </div>
</div>
