/* adjustments for bootstrap */
.container {
  max-width: 800px;
}

.container-fluid {
  color: dimgray;
}

.task-list {
  margin-bottom: 200px;
}

.link {
  font-size: 1rem;
  color: grey;
}
